/* About */


position: absolute;
width: 453px;
height: 69px;
left: 621px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;



/* Skills */


position: absolute;
width: 453px;
height: 69px;
left: 621px;
top: 1281px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;



/* Education */


position: absolute;
width: 453px;
height: 69px;
left: 621px;
top: 811px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;



/* Contact */


position: absolute;
width: 453px;
height: 69px;
left: 621px;
top: 1631px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;



/* Delhi Public School, Gurgaon */


position: absolute;
width: 679px;
height: 69px;
left: 654px;
top: 889px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
display: flex;
align-items: center;

color: #000000;



/* 2010-2023 */


position: absolute;
width: 679px;
height: 69px;
left: 654px;
top: 946px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
display: flex;
align-items: center;

color: #000000;



/* This is shlok. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum justo. Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum.Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. */


position: absolute;
width: 803px;
height: 395px;
left: 652px;
top: 387px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;



/* Hello ✌️, I’m Shlok */


position: absolute;
width: 946px;
height: 164px;
left: 605px;
top: 105px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 85px;
display: flex;
align-items: center;

color: #000000;



/* Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. */


position: absolute;
width: 803px;
height: 228px;
left: 652px;
top: 1024px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;



/* Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. Suspendisse quis nisi commodo, rutrum orci mollis, pulvinar mi. Sed elit nulla, finibus quis vehicula nec, aliquam quis ipsum. */


position: absolute;
width: 803px;
height: 228px;
left: 652px;
top: 1374px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;



/* Portfolio */


position: absolute;
width: 171px;
height: 55px;
left: 665px;
top: 1724px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Résumé */


position: absolute;
width: 188px;
height: 55px;
left: 657px;
top: 1968px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Line 1 */


position: absolute;
width: 171px;
height: 0px;
left: 665px;
top: 1773.5px;

border: 4px solid #7F75F6;


/* Line 2 */


position: absolute;
width: 188px;
height: 0px;
left: 657px;
top: 2018px;

border: 4px solid #7F75F6;


/* This is my portfolio, a collection of my best projects till date.   Maybe I’ll update it someday */


position: absolute;
width: 792px;
height: 162px;
left: 663px;
top: 1808px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;



/* Check my Résumé over here.   */


position: absolute;
width: 792px;
height: 38px;
left: 663px;
top: 2052px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;



/* image-removebg-preview 1 */


position: absolute;
width: 56px;
height: 56px;
left: 1046px;
top: 1899px;

background: url(/images/image-removebg-preview 1.png);