* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  transition: color ease 0.2s;
}

html{
	scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: black;
  background: white;
}

.sidebar {
  width: 200px;
  height: calc(100% - 100px);
  margin: auto 0;
  position: fixed;
}
